/* 내비게이션 영역 - Github 로고 */
#logo {
  float:left; /* 왼쪽 배치 */
}

/* 내비게이션 영역 - 메뉴 */
#menu {
  float:left; 
}

/* 내비게이션 영역 - 메뉴 아이템 */
.menu-item {
  padding : 10px; /* 패딩(테두리와 콘텐츠 사이의 여백) 설정 */
  float:left; 
}

/* 본문 영역 */
#contents {
  width: 1500px; /* 영역 너비 설정 */
  height: 695px; /* 영역 높이 설정 */
  margin: 0 auto; /* 가운데 정렬 */
  clear:both; /* float 속성 해제 */
  display: block; /* 한줄에 요소 하나씩 배치 */
  text-align: center; /* 텍스트 가운데 정렬 */
  background: url("https://heropcode.github.io/GitHub-Responsive/img/bg.jpg") no-repeat center;
   /* 배경 이미지 지정, 배경 이미지 한번만 표시(반복X), 가운데 위치 */
  background-size: cover;  /* 요소 전체 모두 덮도록 처리 */
  filter: brightness(75%); /* 어둡게 설정 */
}

/* 타이틀 */
.title {
  padding: 300px 0 0 0;
  font-family :'나눔고딕'; /* 글꼴 : 나눔고딕 */
  color:white; /* 글자색상 : 흰색 */
  font-weight: bold; /* 볼드체 처리 */
}

/* 내용 */
.description {
  font-family :'나눔고딕'; 
  color:white; 
  font-weight: bold; 
}