/* 헤더 */
.header {
  width: 75%;
  margin:0 auto; /* 헤더 영역 가운데 정렬 */
  vertical-align: middle;  /* 인라인 요소의 수직 정렬 처리 */
}


/* 내비게이션 영역 - Github 로고 */
#logo {
  padding : 10px; /* 패딩(테두리와 콘텐츠 사이의 여백) 설정 */
  float:left; /* 왼쪽 배치 */
}

/* 내비게이션 영역 - 메뉴 아이템 */
.menu-item {
  padding : 10px; 
  float:left;
  text-decoration:none;
  color:black;
}

/* 메뉴 list item> 불릿, 들여쓰기 없애기 */
.menu-list>li{
  float:left;
  list-style:none;
  padding-left:0px;
}

/* 서브 메뉴 리스트 */
.submenu-list {
  margin-left: 500px; /* 마진(요소 주변의 여백) 설정 */
}
/* 내비게이션 영역 - 서브 메뉴 아이템 */
.submenu-item {
  padding : 10px;  
  float:right; 
  text-decoration:none;
  color:black;
  font-size: 14px; /* 글자 크기 설정 */
}

/* 서브 메뉴 list item> 불릿, 들여쓰기 없애기 */
.submenu-list>li{
  /* 
  float 레이아웃 문제 해결
  - 현상: float: right 적용 시, 요소들 역순으로 노출되는 현상 해결
  - 방법: ul 태그에 float: right 적용, li 태그에 float: left 적용
  */
  float:left;   
  list-style:none;
  padding-left:0px;
}

/* 검색창 영역 디자인 설정 */
.search-box { 
  width: 195px;
  height: 34px;
  margin-left: 10px;
  padding: 0 10px;
  outline: none; /* border 바깥 외곽선 제거 */
  border:1px solid #ddd; /* 테두리 선 너비, 선 모양, 선 색상 지정 */
  border-radius: 5px;  /* 테두리 둥글게 표현 */
}

/* placeholder 문구 색상 지정 */
input::placeholder {
  color: #BDBDBD;
}

/* Sign in 버튼 디자인 설정 */
.sign-in {
  clear: right;
  width: 80px;
  height: 34px;
  margin-left: 10px;
  padding: 0 10px;
  background-color: #EAEAEA; 
  border:2px solid #EAEAEA; 
  color : black;
  font-weight: bold; /* 볼드체 처리 */
  border-radius: 5px;  /* 테두리 둥글게 표현 */
}

/* Sign up 버튼 디자인 설정 */
.sign-up {
  width: 80px;
  height: 34px;
  margin-left: 10px;
  padding: 0 10px;
  background-color: #65b836; 
  border:2px solid #65b836; 
  color : white;
  font-weight: bold; /* 볼드체 처리 */
  border-radius: 5px;  /* 테두리 둥글게 표현 */
}


/* 소개글 영역 */
#intro {
  width: 1500px; /* 영역 너비 설정 */
  height: 695px; /* 영역 높이 설정 */
  margin: 0 auto; /* 가운데 정렬 */
  clear:both; /* float 속성 해제 */
  display: flex; /* 플렉서블 박스 레이아웃 설정 */
  text-align: center; /* 텍스트 가운데 정렬 */

  background: 
     linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(https://heropcode.github.io/GitHub-Responsive/img/bg.jpg);
   /* 배경 이미지 설정(그라데이션 방향, 색상, 색상) */
  background-size: cover;  /* 요소 전체 모두 덮도록 처리 */
}

/* 소개글 영역 */
#contents-section {
  float: left;
  width: 50%;
  padding: 200px 0 0 100px;
  order: 2;
}

/* 소개글 - 타이틀 */
.intro-title {
  width: 50%;
  font-family :'나눔고딕'; /* 글꼴 : 나눔고딕 */
  color:white; 
  font-size: 54px;
  opacity: 100;
}

/* 소개글 - 내용 */
.intro-description {
  width: 80%;
  font-family :'나눔고딕'; 
  color:white; 
  font-size: 26px;
}

/* 가입 form 영역 */
#signupform-section {
  clear: both;
  float: right;
  width: 30%;
  padding: 210px 0 0 100px;
  order: 2;
}

/* 가입 form - 이름 입력란 */
.input-username {
  float: right;
  width: 80%;
  height: 34px;
  margin-bottom: 15px;
  padding: 0 10px;
  outline: none; 
  border:1px solid #ddd; 
  border-radius: 5px; 
}

/* 가입 form - 주소 입력란 */
.input-address {
  float: right;
  width: 80%;
  height: 34px;
  margin-bottom: 15px;
  padding: 0 10px;
  outline: none; 
  border:1px solid #ddd; 
  border-radius: 5px; 
}

/* 가입 form - 비밀번호 입력란 */
.input-password {
  float: right;
  width: 80%;
  height: 34px;
  padding: 0 10px;
  outline: none; 
  border:1px solid #ddd; 
  border-radius: 5px; 
}

/* 가입 form - 가입 설명 */
.caption {
  width: 85%;
  float: right;
  color: rgba(255, 255, 255, .6);
  font-size: 13px;
}

/* 가입 form - 가입 버튼 디자인 설정 */
.signup-button {
  float: right;
  width: 85%;
  height: 70px;
  margin-bottom: 15px;
  padding: 0 10px;
  background-color: #65b836; 
  border:2px solid #65b836; 
  color : white;
  font-weight: bold; 
  font-size: 20px;
  border-radius: 5px;  
}

/* 본문글 영역 */
.main-title1{
  text-align: center;
  font-size: 38px;
  font-family :'나눔고딕';  
}

.main-description1{
  text-align: center;
  margin-left: 320px;
  margin-right: 320px;
  font-size: 26px;
  font-family :'나눔고딕';
  color: gray;
}

.main-title2{
  font-size: 38px;
  font-family :'나눔고딕';  
}

.main-description2{
  font-size: 26px;
  font-family :'나눔고딕';
  color: gray;
}

/* youtube 영상 - margin 설정 */
.youtube {
  margin-left: 320px;
  margin-right: 320px;
  margin-bottom: 50px;
}


/* 푸터 영역 - 링크 */
#link{
  text-decoration: none; /* 링크에 밑줄 제거 */ 
}
 